---
const { stiles }= Astro.props

---

<a class={` text-white font-light text-3xl ml-6 sm:ml-16 ${stiles} `} href="/"><div class="w-full flex justify-center  items-center mt-10">&LeftArrow; Go Home</div></a>
 