---
import BotonHome from "../UI/BotonHome.astro";
import LayoutContainer from "../components/LayoutContainer.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="se esta trabajando">
  <LayoutContainer>
<section class=" flex justify-center flex-col">
  <h2 class="text-3xl text-center text-white font-semibold">Se esta trabajando en esta parte</h2>
  <img src="https://i.makeagif.com/media/12-25-2015/mFU56f.gif" alt="se esta trabajando">
  
  <BotonHome/>
</section>
</LayoutContainer>
</Layout>