---
interface Tdata {
  id:number
    name:string
}
export interface Info {
  category:Tdata[]
    
  
}
import LayoutContainer from "./LayoutContainer.astro";
import { allCategoryMovies } from '../utils/useProvider'

const miDAta:Tdata[] = allCategoryMovies as Tdata[] ;




---
<LayoutContainer styles="my-10 px-1">
  <section class="w-full flex flex-wrap gap-3 justify-center ">
   {
    miDAta.map((category: Tdata)=>(
      <a href={`/category/${category.id}`} class="py-2 w-36 text-center text-nowrap transition-all duration-300 ease-in relative px-4 border rounded-xl shadow-black shadow-md  bg-primary font-nomal text-white hover:top-1 hover:bg-primaryHover "> {category.name}</a>
    ) )
   }
  </section>


</LayoutContainer>